<%- include partials/header.ejs %>

<h1> <%= aboutContent%> </h1>

<h2 class="Heading">What I'm passionate about: </h2>

<div class="flex-container2">

<div id="passion1" class="passion"><h3>Learning</h3>
    <img src="https://img.icons8.com/ios-filled/50/000000/learning.png"/>
</div>

<div id="passion2" class="passion"> <h3>Education</h3>
    <img src="https://img.icons8.com/glyph-neue/64/000000/education.png"/>
</div>

<div id="passion3" class="passion"><h3>Technology</h3>
    <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-technology-network-and-cloud-computing-flatart-icons-outline-flatarticons.png"/>
</div>
<div id="passion4" class="passion"><h3>Design</h3>
    <img src="https://img.icons8.com/windows/64/000000/design--v1.png"/>
</div>
</div>

<h2 class="Heading">What I enjoy: </h2>

<div class="flex-container2">

<div id="enjoy1" class= "enjoy"><h3>Learning</h3>
    <img src="https://img.icons8.com/ios-filled/50/000000/learn-information.png"/>
</div>

<div id="enjoy2" class="enjoy"> <h3>Drawing</h3>
    <img src="https://img.icons8.com/external-wanicon-lineal-wanicon/64/000000/external-art-university-courses-wanicon-lineal-wanicon.png"/>
</div>

<div id="enjoy3" class="enjoy"><h3>Reading</h3>
    <img src="https://img.icons8.com/glyph-neue/64/000000/read.png"/>
</div>
<div id="enjoy4" class="enjoy"><h3>Challenges</h3>
    <img src="https://img.icons8.com/external-becris-lineal-becris/64/000000/external-challenge-coping-skills-becris-lineal-becris.png"/>
</div>
</div>


<%- include partials/footer.ejs %>
